*{
  margin: 0;
  padding: 0;
}

.title{
 margin-bottom: 15px;
}

.singleCourse h2{
  margin-bottom: 15px;
}
.singleCourse ul{
  margin-bottom: 15px;
}
.singleCourse .item{
  margin-bottom: 10px;
}

li{
  list-style: none;
}